{{> navigation}}
<div class="main-content">
        <div class="container mt-5">
            <h2>Employee Records</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Secret</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.secret}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>